.navbar {
  background-color: $background;
  z-index: 100;

  &__fixed {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
  }

  &__container {
    height: 105px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  &__menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    &__button {
      display: none;
      width: 45px;
      height: 32px;
      border: none;
      outline: none;
      background: url("../img/burger-large.png");
    }

    &__item {
      @include text-normal;
      font-size: 16px;
      color: $text-body;
      display: inline-block;
      margin-right: 20px;
      &:hover {
        color: $primary;
      }
    }

    &__item_active {
      position: relative;
      color: $primary;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: -2px;
        left: 0;
        height: 1px;
        background-color: $primary;
      }
    }
  }
  &__contact {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    &__phone-number {
      @include text-bold;
      color: $text-body;
      font-size: 25px;
      display: inline-block;
    }

    &__button-large {
      display: inline-block;
      margin-left: 30px;
    }

    &__button-small {
      display: none;
      width: 26px;
      height: 26px;
      margin-left: 35px;
      border: none;
      outline: none;
      background: url("../img/call.png") center no-repeat;
    }
  }
}
