.slide-menu {
  background-color: $primary;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  &_active {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.96;
  }

  &__item {
    @include text-normal;
    line-height: 28px;
    margin-right: 20px;
    color: #fff;
  }
}
