@import "slider";

.portfolio {
  &__container {
    z-index: 0;
    text-align: center;
    padding-top: 100px;
    position: relative;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__button {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 94px;
  }
}
