.slick-slider {
  overflow: hidden;
  position: relative;
}
.slick-list {
  margin: 0 -15px;
}
.slick-track {
  display: flex;
}
.slick-slide {
  outline: none;
  margin: 0 10px;
  text-align: center;
}
.slide-image {
  width: 100%;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
}
.slick-dots li {
  list-style: none;
  margin: 0 15px;
}
.slick-dots button {
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border-radius: 50%;
  border: none;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: $active;
}

.slide-text {
  @include text-normal;
  color: $text-caption;
  font-size: 18px;
  text-align: center;
  margin-top: 16px;
  line-height: 1.5em;
}

// Стрелки вынесены в portfolio__container, т.к. slick-lider{overflow:hidden}
.portfolio__container .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  margin-top: -30px;
}
.portfolio__container .slick-arrow.slick-prev {
  left: -30px;
  background: url("../img/arrow.png") center no-repeat;
}
.portfolio__container .slick-arrow.slick-next {
  right: -30px;
  background: url("../img/arrow.png") center no-repeat;
  transform: rotate(180deg);
}
