.footer {
  &__container {
    padding: 86px 0;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    margin: 0;
    padding: 0;
    &__item {
      list-style: none;
      margin-bottom: 16px;
      :hover {
        opacity: 0.8;
      }
    }
    &__item:last-child {
      margin-bottom: 0px;
    }
    &__link {
      text-decoration: none;
      @include text-normal;
      color: $text-caption;
      font-size: 18px;
    }
  }

  &__column-center {
    max-width: 50%;
  }

  &__contacts {
    padding: 0;
    margin: 0 30px;

    &__item {
      list-style: none;
      display: flex;
      flex-direction: row;
      overflow: visible;
    }
    &__item:first-child {
      margin-bottom: 38px;
    }

    &__icon {
      font-size: 25px;
    }

    .fa-phone:before,
    .fa-envelope:before {
      color: transparent;
      position: relative;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#f26522),
        color-stop(99%, #fa0891),
        to(#fa0891)
      );
      background-image: linear-gradient(
        to top,
        #f26522 0%,
        #fa0891 99%,
        #fa0891 100%
      );
    }

    &__link {
      text-decoration: none;
      @include text-normal;
      font-size: 25px;
      color: $text-body;
      margin-left: 20px;
      width: calc(100% - 20px);
      overflow-wrap: break-word;
    }
  }

  &__column-right {
    display: flex;

    flex-direction: column;
  }

  &__button {
    display: none;
  }

  &__button-o {
    margin-bottom: 18px;
    margin-top: -16px;
  }

  &__social-icons {
    margin: 0;
    padding: 0;
    width: 100%;
    &__item {
      list-style: none;
      display: inline-block;
      :hover {
        opacity: 0.8;
      }
    }
    &__container {
      width: 48px;
      height: 48px;
    }
    .vk {
      background: url("../img/footer-icons.svg") 0 0;
    }
    .facebook {
      background: url("../img/footer-icons.svg") -48px 0;
    }
    .twitter {
      background: url("../img/footer-icons.svg") -96px 0;
    }
    .instagram {
      background: url("../img/footer-icons.svg") -144px 0;
    }
  }

  &__bottom {
    @include text-normal;
    background-color: #31293c;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 32px 0;
  }
}
