// UTILITIES **********************

// Fonts
@import "../utilities/fonts";

// Colors
@import "../utilities/colors";

// COMMON STYLES **********************

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 1170px;
  width: calc(100% - 80px);
}
body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: $background;
}

// LIBRARY BLOCKS **********************

// Button-o
@import "../blocks/lib/button/button-o";

// Button
@import "../blocks/lib/button/button";

// Section Title
@import "../blocks/lib/section-title/section-title";

// PROJECT BLOCKS **********************

// Header
@import "../blocks/project/_header/header";

// Services
@import "../blocks/project/_services/services";

// Portfolio
@import "../blocks/project/_portfolio/portfolio";

//  Price
@import "../blocks/project/_price/price";

// Footer
@import "../blocks/project/footer/footer";
// Form
@import "../blocks/project/form/form";

// MEDIA ******************************
@import "1200";
@import "940";
@import "688";
@import "458";
